body {
  background: whitesmoke;
}

.nav-settings input {
  -webkit-appearance: none;
  height: 30px;
  margin-top: 6px;
  background-color:#FFF;
  color:#666;
  font-weight:bold;
  border: solid #666 1px;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 5px;
}

.select-box {
  height: 30px;
  margin-top: 6px;
  font-size: 13px;
  max-width: 275px;
  letter-spacing: 1px;
}