<html lang="en">
  <%- include('./header') -%>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

  <body>
    <section id="app-logo">
      <div class="container xlp-container">
        <div class="row justify-content-between">
          <div class="col-md-12">
            <img src="/images/logo-ipsum.png" style="max-width: 200px; margin: 25px; float: left;" class="img-fluid" alt="app-logo"/>
            <img src="/images/connected-app.svg" style="max-width: 200px; float: right;" class="img-fluid" alt="xero-app-partner-logo"/>
          </div>
      </div>
    </section>

    <section id="key-benefit">
      <div class="container text-center">
        <div class="jumbotron xlp-jumbotron">
          <div class="xlp-jumbotron-text text-center">
            <div class="row">
              <div class='col-md-12'>
                <table id="invoice-data-table" class="display" width="100%"></table>
                <script>
                  $(document).ready(function() {
                    var tableData = <%- JSON.stringify(dataSet) %>;
                    $('#invoice-data-table').DataTable( {
                        data: tableData,
                        columns: [
                            { title: "Contact Name" },
                            { title: "Amount Due" },
                            { title: "Type" },
                            { title: "Invoice Number" },
                            { title: "Payments" },
                            { title: "Line Items" },
                            { title: "Link to Xero" }
                        ]
                    });
                  });
                </script>
                <!-- <canvas id="chart-area" width="400" height="400"></canvas>
                <script>
                  var randomScalingFactor = function() {
                    return Math.round(Math.random() * 100);
                  };

                  var config = {
                    type: 'pie',
                    data: {
                      datasets: [{
                        data: [
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                          randomScalingFactor(),
                        ],
                        backgroundColor: [
                          "red",
                          'orange',
                          'yellow',
                          'green',
                          'blue',
                        ],
                        label: 'Dataset 1'
                      }],
                      labels: [
                        'Red',
                        'Orange',
                        'Yellow',
                        'Green',
                        'Blue'
                      ]
                    },
                    options: {
                      responsive: true
                    }
                  };

                  window.onload = function() {
                    var ctx = document.getElementById('chart-area').getContext('2d');
                    window.myPie = new Chart(ctx, config);
                  };

                  document.getElementById('randomizeData').addEventListener('click', function() {
                    config.data.datasets.forEach(function(dataset) {
                      dataset.data = dataset.data.map(function() {
                        return randomScalingFactor();
                      });
                    });

                    window.myPie.update();
                  });

                  var colorNames = Object.keys(window.chartColors);
                  document.getElementById('addDataset').addEventListener('click', function() {
                    var newDataset = {
                      backgroundColor: [],
                      data: [],
                      label: 'New dataset ' + config.data.datasets.length,
                    };

                    for (var index = 0; index < config.data.labels.length; ++index) {
                      newDataset.data.push(randomScalingFactor());

                      var colorName = colorNames[index % colorNames.length];
                      var newColor = window.chartColors[colorName];
                      newDataset.backgroundColor.push(newColor);
                    }

                    config.data.datasets.push(newDataset);
                    window.myPie.update();
                  });

                  document.getElementById('removeDataset').addEventListener('click', function() {
                    config.data.datasets.splice(0, 1);
                    window.myPie.update();
                  });
                </script> -->
              </div>
            </div>
            <hr>
            <br>
            <div class="row text-center">
              <div class='col-md-12'>
                <a href='/logout'>Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>


<script>
  window.history.pushState("", "", '/dashboard');
</script>