<!-- <!DOCTYPE html>
  <html lang="en">
    
    <body>
      <img src='/images/logo-ipsum.png'>
      <script src="https://edge.xero.com/platform/sso/xero-sso.js" async defer></script>
      <span data-xero-sso data-href=<%= authorizeUrl %> data-label="Sign in with Xero"></span>
    </body>
  </html>
  


  <!DOCTYPE html> -->
<html lang="en">
  <%- include('./header') -%>
  <body>
    <section id="app-logo">
      <div class="container xlp-container">
        <div class="row justify-content-between">
          <div class="col-md-12">
            <img src="/images/logo-ipsum.png" style="max-width: 200px; margin: 25px; float: left;" class="img-fluid" alt="app-logo"/>
            <img src="/images/connected-app.svg" style="max-width: 200px; float: right;" class="img-fluid" alt="xero-app-partner-logo"/>
        </div>
      </div>
    </section>

    <section id="key-benefit">
      <div class="container">
        <div class="jumbotron xlp-jumbotron">
          <div class="xlp-jumbotron-text text-center">
            <h2 class="display-5">
              Create Account
            </h2>
            <hr>
            <br>
            <div class="row text-center">
              <div class='col-md-6'>
                <img src="/images/callback-flow.png" class="img-fluid" alt="app-logo"/>
              </div>
              <div class='col-md-6'>
                <p class="lead" style="margin-top: 50px;">
                  Sign up with Xero and your personalized financial data will be populated in your new Logoipsum account!
                </p>
                <span style="margin: 0 auto; margin-top: 30px;" data-xero-sso data-theme="dark" data-href='<%= authorizeUrl %>' data-size="large" data-height="60" data-label="Sign in with Xero"></span>
                <script src="https://edge.xero.com/platform/sso/xero-sso.js" async defer></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

